.task_container{
    background-color: #041955;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.589);
}

.content{
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task{
    color: #BBC2D8;
    font-size: 17px;
    margin-right: 5px;
    transition: 0.5s;
}

.remove{
    text-decoration: line-through;
}

.removeTaskIcon{
    background-color: #183588;
}

.removeTask{
    min-height: 20px;
    min-width: 20px;
    border-radius: 100%;
    cursor: pointer;
}