.todo_container {
    background-color: #97B4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.newTask{
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #D103FC;
    bottom: 5%;
    right: 5%;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #d203fc86, 0px 0px 15px #d203fc86;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.newTask span{
    position: relative;
}
.closeBtn{
    transform: rotate(45deg);
}
.newTask span::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #fff;
    left: 20px;
}

.newTask span::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 20px;
    background-color: #fff;
    left: 28px;
    top: -9px;
}

